body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  color: #151515;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.underlined {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 5px solid #151515;
}

.notice {
  background-color: #ffeb3b;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

.row {
  display: flex;
}

.constrain {
  max-width: 1000px;
  margin: 0 auto;
}

.landing .header {
  background: #e8fdff;
}

.header-content {
  display: flex;
  align-items: center;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.logo {
  z-index: 2;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.menu a {
  display: block;
  margin-left: 3rem;
}

.masthead {
  background: #e8fdff;
  padding: 6rem 0 12rem;
}

.lightbox {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
}

.lightbox-close {
  border: none;
  background: none;
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
}

.ticker {
  padding: 1rem;
  background: #202020;
  color: white;
  font-weight: bold;
}

.ticker-content {
  max-width: 1000px;
  margin: 0 auto;
}

.ticker-action {
  float: right;
  margin-left: auto;
}

.product {
  max-width: 1000px;
  margin: 5rem auto;
  border: 5px solid #151515;
}

.product-overtone {
  border-style: dashed;
  opacity: 0.5;
}

.product-content {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
}

.product h2 {
  font-size: 1.2rem;
}

.product p {
  opacity: 0.5;
}

.product-action {
  margin-left: auto;
}

.app-icon {
  width: 64px;
  height: 64px;
  margin-right: 1rem;
  border-radius: 10px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff url("images/instruments.svg");
  background-size: cover;
  background-position-x: center;
  height: 400px;
}

.cta-heading {
  margin-right: 5rem;
}

.large {
  font-size: 2rem;
}

.extra-large {
  font-size: 3rem;
}

.loud {
  font-size: 1.4rem;
  opacity: 0.8;
  margin-bottom: 4rem;
}

.button, .secondary-button {
  border: none;
  background: #151515;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem 2rem;
  border-radius: 3px;
  cursor: pointer;
}

.secondary-button {
  background: #cfe2e4;
  color: #151515;
}

.document {
  max-width: 1000px;
  margin: 5rem auto 0;
  padding: 5rem 8rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.questions {
  font-size: 1.4rem;
  max-width: 1000px;
  margin: 0 auto;
}

.questions-list {
  margin: 4rem 0;
}

.questions-q {
  font-weight: bold;
  padding: 1rem 0;
  border-bottom: 5px solid #151515;
}

.questions-a {
  margin: 2rem 0 4rem;
}

.footer {
  padding: 4rem;
  background: #151515;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.footer .logo {
  filter: invert(1);
}

.footer a {
  color: white;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .cta-heading {
    margin-right: 0;
  }
}