<footer class="footer">
  <a href="/">
    <img src="./images/semitune-logo.svg" class="logo" alt="Semitune logo" />
  </a>
  <div class="row">
    <div class="footer-links">
      <div class="footer-heading" role="heading">Products</div>
      <a href="/">Pegboard</a>
    </div>
    <div class="footer-links">
      <div class="footer-heading" role="heading">Links</div>
      <a href="/">Blog</a>
      <a href="/">Support</a>
    </div>
    <div class="footer-links">
      <div class="footer-heading" role="heading">Legal</div>
      <a href="/">Terms of Service</a>
      <a href="/">Privacy Policy</a>
    </div>
  </div>
</footer>